<div class="container-fluid contact">
  <main>
    <div class="row py-5">
      <div class="col-lg-4">
        <img class="profile-pic" src="https://media-exp1.licdn.com/dms/image/C4E03AQFPLc7FtAh8fg/profile-displayphoto-shrink_800_800/0/1631719834048?e=1640822400&v=beta&t=w-frlvKJiYgqd4xf-2myxZBHE9BbtJ4kkJnTRukH3HY" alt="Contact Image">
      </div>
      <div class="col-lg-6 mt-4">
        <h1 class="text-light">Jackson Schacher</h1>
        <summary class="card p-1 rounded">
          Motivated Developer and Designer with success managing small teams and using effective communication to accomplish goals. Extensive experience in highly stressful situations and comfortable handling difficult problems. Creative problem solver and always enthusiastic about learning new methods and technologies.
        </summary>
        <hr>
        <summary class="card p-1 rounded">
          
        </summary>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a href="mailto: jschacher8@gmail.com">
        <h4><img src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/50/000000/external-email-interface-kiranshastry-lineal-kiranshastry.png"/> Email: </h4><p>jschacher8@gmail.com</p>
      </a>
    </div>
    <div class="col text-center">
      <a href="https://linkedin.com/in/jackson-schacher" target="blank">
        
        <h4><img src="https://img.icons8.com/ios/50/000000/linkedin.png"/> LinkedIn: </h4><p>linkedin.com/in/jackson-schacher</p>
      </a>
    </div>
    <div class="col text-center">
      <a href="https://github.com/JacksonSchacher" target="blank">
        
        <h4><img src="https://img.icons8.com/ios-glyphs/60/000000/github.png"/> Github: </h4><p>github.com/JacksonSchacher</p>
      </a>
    </div>
  </div>
</main>
  <div class="palms">
    <img src="../../assets/1x/palms-corner.png" alt="">
  </div>
</div>
