<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQFPLc7FtAh8fg/profile-displayphoto-shrink_800_800/0/1631719834048?e=1640822400&v=beta&t=w-frlvKJiYgqd4xf-2myxZBHE9BbtJ4kkJnTRukH3HY" alt="Contact Image">
    </div>
    <div class="col-lg-4">
      <h3>Jackson Schacher</h3>
      <summary>
        Motivated Developer and Designer with success managing small teams and using effective communication to accomplish goals. Extensive experience in highly stressful situations and comfortable handling difficult problems. Creative problem solver and always enthusiastic about learning new methods and technologies.
      </summary>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Email: </h4><p>jschacher8@gmail.com</p>
    </div>
    <div class="col">
      <h4>LinkedIn: </h4><p>linkedin.com/in/jackson-schacher</p>
    </div>
    <div class="col">
      <h4>Github: </h4><p>github.com/JacksonSchacher</p>
    </div>
  </div>
</div>
