.card {
  height: 50vh;
  width: auto;
  margin: 1rem;
  border: none;
  border-radius: 20px;
}
.card-img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 20px;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
.title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  border-radius: 20px;
  width: fit-content;
}
.card-text {
  background-color: rgba(0, 0, 0, 0.25);
  padding: .5rem;
  border-radius: 20px;
  width: fit-content;
}