.card {
  height: 65vh;
  width: 40vw;
  margin: 1rem;
  border: none;
  border-radius: 20px;
}
.card-img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-radius: 20px;
}
a {
  color: #f2f2f2;
  text-decoration: none;
}
.title {
  background-color: rgba(0, 0, 0, 0.5);
  padding: .5rem;
  border-radius: 20px;
  width: fit-content;
}
.card-text {
  background-color: rgba(0, 0, 0, 0.25);
  padding: .5rem;
  border-radius: 20px;
  width: fit-content;
}
.container-fluid {
  width: 80vw;
}
.applications {
  background: linear-gradient(45deg, rgba(102,45,145,1) 0%, rgba(41,171,226,1) 100%);
  background-size: 400% 400%;
  animation: grad 10s ease infinite;
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}