<main>
  <div class="container-fluid">
    <div class="row title">
      <h1>{{app.title}}</h1>
      <p>{{app.description}}</p>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <img class="app-img" src="{{app.img1}}" alt="{{app.title}}">
    </div>
    <div class="d-flex col-6 align-items-center">
      <p>{{app.info1}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex align-items-center">
      <p>{{app.info2}}</p>
    </div>
    <div class="col-6 d-flex justify-content-center">
      <img class="app-img" src="{{app.img2}}" alt="{{app.title}}">
    </div>
  </div>
  <div class="row">
    <div class="col-6 d-flex justify-content-center">
      <img class="app-img" src="{{app.img3}}" alt="{{app.title}}">
    </div>
    <div class="col-6 d-flex align-items-center">
      <p>{{app.info3}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Github: <h4>{{app.github}}</h4></h3>
      <h3>Website: <h4>{{app.website}}</h4></h3>
    </div>
  </div>
</div>
</main>
