<div class="container-fluid">
  <div class="row" data-masonry= '{"percentPosition": true }'>
    <div *ngFor="let design of designs" class="col-lg-4">
      <div *ngIf="design.imgUrl" class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{design.imgUrl}}" alt="{{design.title}}">
        <div class="card-body">
          <h6 class="card-text">{{design.title}}</h6>
          <p class="card-text">{{design.shortDesc}}</p>
        </div>
      </div>
      <div *ngIf="design.vidUrl" class="card">
        <video src="{{design.vidUrl}}" class="bs-card-video" autoplay="" loop=""></video>
        <div class="card-body">
          <h5 class="card-title">{{design.title}}</h5>
          <p class="card-text">
            {{design.shortDesc}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
