<main class="container-fluid w-100 p-0">
  <div class="palms">
    <img  src="assets/1x/palms.png" alt="Palm Fronds">
  </div>
    <div class="row justify-content-center overlay-title">
      <div class="col-12">
      <img class="nameImg" src="assets/1x/nameImg.png" alt="Jackson Schacher">
    </div>
    <div class="col-12">
      <img class="devDesImg mt-4" src="assets/1x/dev+design.png" alt="Developer + Designer">
    </div>
  </div>
  <div class="w-100 row justify-content-around overlay-creds">
    <div class="col-5">

      <img class="ui-logo" src="assets/ui-seal-black.svg" alt="University of Idaho Logo">
      <h4>B.S. Virtual Technology and Design</h4>
    </div>
    <div class="col-5">
      <img class="codeworks-logo" src="https://codeworks.blob.core.windows.net/public/assets/img/cw-logo-circle.png" alt="CodeWorks Logo">
      <h4>Full-Stack Development Certification</h4>
    </div>
    </div>
</main>
